<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webshop</title>


    <link href="~/Content/css/layout.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap4/css/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="~/Content/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/slick-master/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/slick-master/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/font/font.css" rel="stylesheet" />
    <link href="~/Content/css/data.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="~/Content/js/zoom/js/vendor/modernizr.js"></script>
    <script src="~/Content/js/zoom/js/vendor/jquery.js"></script>
    <script src="~/Content/js/zoom/xzoom.min.js"></script>
    <link href="~/Content/js/zoom/css/xzoom.css" rel="stylesheet" media="all" />

    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="pt-0">
    <header class="container-fluid">
        <div class="tab-menu-mb">
            <div class="d-lg-none position-relative menu-mobile" data-display="0">
                <span class="tab-mobile"></span>
                <span class="tab-mobile"></span>
                <span class="tab-mobile"></span>

            </div>
            <div class="header d-flex justify-content-between align-items-center" id="menu-mb">
                <div class="d-moblie w-30">
                    <ul class="d-flex justify-content-around">

                        <li class="menu-one"><a href="/Home/Index">TRANG CHỦ</a></li>
                        <li class="menu-one">
                            <a href="/Home/Category">SẢN PHẨM <span><i class="fas fa-chevron-down ml-2"></i></span></a>
                            <ul class="menu-two d-none">
                                <li>
                                    <a href="#">Áo Sơ Mi</a>
                                </li>
                                <li>
                                    <a href="#">Áo Vest</a>
                                </li>
                                <li>
                                    <a href="#">Áo Măng Tô</a>
                                </li>
                                <li>
                                    <a href="#">Đầm trơn</a>
                                </li>
                                <li>
                                    <a href="#">Đầm Ren</a>
                                </li>
                                <li>
                                    <a href="#">Jumpsuit/ Set bộ</a>
                                </li>
                                <li>
                                    <a href="#">Chân Váy</a>
                                </li>
                                <li>
                                    <a href="#">Quần</a>
                                </li>
                                <li>
                                    <a href="#">Phụ kiện</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="d-none d-lg-block logo-page">
                    <a href="/Home/Index">
                        <img src="~/Content/images/thoi_trang/logo200.png" />
                    </a>
                </div>
                <div class="d-moblie w-30">
                    <ul class="d-flex justify-content-around">
                        
                        <li class="menu-one"><a href="/Home/Contact">LIÊN HỆ <i class="ml-2 fas fa-blender-phone"></i></a></li>
                        <li class="menu-one px-0">
                            @*<a href="#">TÀI KHOẢN</a>*@
                            <a class="login " data-toggle="modal" data-target="#exampleModal">TÀI KHOẢN<i class="ml-2 fas fa-user"></i></a>
                        </li>
                        <li class="menu-one px-1">
                            <a href="/Home/Cart">GIỎ HÀNG<i class="ml-2 fas fa-cart-plus"></i></a>
                           
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-lg-none logo-menu-moblie">
            <a href="/Home/Index">
                <img class="h-100 w-100" src="~/Content/images/thoi_trang/logo200.png" />
            </a>
        </div>
    </header>
    <div>
     
     
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">TÀI KHOẢN CỦA BẠN</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Họ và tên:</label>
                                <input type="text" class="form-control" name="Name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Email:</label>
                                <input type="text" class="form-control" name="Email">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Địa chỉ:</label>
                                <input type="text" class="form-control" name="Address">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Ghi chú:</label>
                                <textarea class="form-control" name="Notes"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Gửi</button>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <hr />

    </div>
    <footer>
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                    <ul class="w-75">
                        <li><b>Địa Chỉ:</b> 25 Vũ Ngọc Phan, Thanh Xuân</li>
                        <li><b>Hotline:</b> 0123456789</li>
                        <li><b>Email:</b> abcxyx@gmail.com</li>
                        <li><b>website:</b> aaaaaaaaaaaa.com</li>
                    </ul>
                   
                <div class="logo-page ml-auto">
                    <a href="#">
                        <img class="" src="~/Content/images/thoi_trang/logo200.png" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
    @*<script src="~/Content/bootstrap4/js/bootstrap.bundle.min.js"></script>
        <script src="~/Content/bootstrap4/js/bootstrap.min.js"></script>*@

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="~/Content/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="~/Content/js/all.min.js"></script>
    <script src="~/Content/slick-master/slick/slick.min.js"></script>
    <script src="~/Content/js/layout.js"></script>
    <script src="~/Content/js/zoom/js/foundation.min.js"></script>
    <script src="~/Content/js/zoom/js/setup.js"></script>
    <script>

        $(document).ready(function () {
            $(window).scroll(function (event) {
                if ($(this).scrollTop() > 85) {
                    $('.header').addClass("fixed-top");
                    $('.header li.link-GAQ ').removeClass("d-none");
                } else {
                    $('.header ').removeClass("fixed-top");
                    $('.header li.link-GAQ ').addClass("d-none");

                }
            });

        });
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            autoplay: false,
            slidesToShow: 4,
            autoplayTimeout: 1500,
            autoplayHoverPause: false,
            nav: true,
            responsive: {
                0: {
                    items: 3
                },
                992: {
                    items: 4
                }
            }
        });
        $('.regular-intro').slick({
            loop: true,
            dots: false,
            infinite: true,
            autoplay: true,
            autoplayTimeout: 1500,
            slidesToShow: 1,
            nextArrow: "<img class='a-left control-c prev slick-next' src='../Content/images/home/right.png'>",
            prevArrow: "<img class='a-left control-c prev slick-prev' src='../Content/images/home/left.png'>",
            slidesToScroll: 1,

        })
        $('.regular-two-option').slick({
            loop: true,
            dots: false,
            infinite: true,
            autoplay: true,
            autoplayTimeout: 1500,
            slidesToShow: 2,
            nextArrow: "<img class='a-left control-c prev slick-next' src='../Content/images/home/right.png'>",
            prevArrow: "<img class='a-left control-c prev slick-prev' src='../Content/images/home/left.png'>",
            slidesToScroll: 1,
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 1
                },
                1200: {
                    items: 2
                }
            }

        })
        $('.regular-edit').slick({
            loop: true,
            dots: false,
            infinite: true,
            autoplay: true,
            autoplayTimeout: 1500,
            slidesToShow: 4,
            nextArrow: "<img class='a-left control-c prev slick-next' src='../Content/images/home/right.png'>",
            prevArrow: "<img class='a-left control-c prev slick-prev' src='../Content/images/home/left.png'>",
            slidesToScroll: 1,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                },
                1500: {
                    items: 4
                }
            }

        })
        $('.regular-title-item').slick({
            loop: true,
            dots: false,
            infinite: true,
            autoplay: true,
            autoplayTimeout: 1500,
            nextArrow: "<img class='a-left control-c prev slick-next' src='../Content/images/home/right.png'>",
            prevArrow: "<img class='a-left control-c prev slick-prev' src='../Content/images/home/left.png'>",
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 2000,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 1,
                    }
                },
                {
                    breakpoint: 993,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                }
            ]
        })
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
